<div class="main" ng-controller="imagesCtrl">
  <div class="cardsContainer">
    <div class="cards" ng-if="images.length > 0">
      <div class="card" ng-repeat="image in images | limitTo: limit">
        <a ui-sref="singleImage({imageId: {{image.id}}})">
          <img class="img" src="{{image.image}}">
        <!-- <p>Title: {{image.title}}</p>
        <p>Posted by: {{image.username}}</p>
        <p>{{image.description}}</p> -->
        </a>
      </div>
    </div>
  </div>
  <button class="button" ng-click="loadMore()">MORE</button>
</div>
